<template>
  <div>
    <app-note class="app-note" />
    <app-notes-list :notes="notes"/>
  </div>
</template>

<script>
import Note from '@/components/Note'
import NotesList from '@/components/NotesList'
import {actions, state} from '@/store/notes'

export default {
  name: 'Home',
  async created() {
    await actions.getNotes();
    //https://dev.to/f3ltron/vue-266-release-part1-23b4
  },
  components: {
    'app-note': Note,
    'app-notes-list': NotesList
  },
  computed: {
    notes() {
      return state.notes;
    }
  }
}
</script>

<style lang="scss" scoped>
    .mdl-layout__container {
        position: absolute;
    }
    .main-icon {
        width: 40px;
        margin-right: 10px;
    }
    .app-note {
        padding: 64px 0 64px 0;
    }
    .mdl-navigation__link {
        cursor: pointer;
    }
</style>
