<template>
  <div class="cards-container">
    <div
        class="demo-card-square mdl-card mdl-shadow--2dp color"
        v-for="note in notes" :key="note.id"
    >
      <div class="mdl-card__title mdl-card--expand" @click="openNote(note)">
        <h2 class="mdl-card__title-text">{{note.title}}</h2>
      </div>
      <div class="mdl-card__supporting-text" @click="openNote(note)">{{note.text}}</div>
      <div class="mdl-card__actions mdl-card--border">
        <i title="Duplicate" class="material-icons" @click="duplicate(note)">file_copy</i>
        <i title="Change background" class="material-icons" @click="openColorPicker">palette</i>
        <div
            class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events"
            for="demo-menu-lower-right"
            :class="{colorPicker: palette}"
        >
          <ul>
            <li
              id="point"
              class="dot"
              v-for="(color, index) in colors"
              :key="index"
              @click="chooseColor(color, index, note)"
              :class="'style-' + ((index % colors.length))"
            ></li>
          </ul>
        </div>
        <i title="Archive" class="material-icons" @click="archiveNote(note)">archive</i>
        <i title="Delete" class="material-icons" @click="deleteNote(note)">delete</i>
      </div>
      <!-- <dialog class="mdl-dialog">
        <input
          class="mdl-textfield__input title"
          placeholder="Title"
          type="text"
          id="title"
          v-model="note.title"
        >
        <textarea
          class="mdl-textfield__input"
          type="text"
          rows="9"
          id="sample5"
          v-model="note.text"
          placeholder="Take a note"
        ></textarea>
        <div class="mdl-dialog__actions">
          <button type="button" class="mdl-button" @click="modifyNote(note)">Modifier</button>
          <button type="button" class="mdl-button close">Annuler</button>
        </div>
      </dialog> -->
      <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
    </div>
  </div>
</template>

<script>
import { state } from '@/store/notes'

export default {
  name: 'NotesList',
  props: {
    notes: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      palette: false,
      colors: [
        "#fff",
        "#9fd3c7",
        "#ff8260",
        "#ff4057",
        "#ffffb5",
        "#f6f5f5",
        "#f54291",
        "#d5daeb"
      ]
    };
  },
  methods: {
    openNote() {

    },
    duplicate() {

    },
    openColorPicker() {},
    archiveNote() {},
    deleteNote() {},
    modifyNote() {}, 
    chooseColor() {}
  }
}
</script>
